* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

img {
    width: 200px;
}

h1 {
    font-size: 40px;
    padding: 20px;
    margin: 10px;
}

.user-button {
    cursor: pointer;
}

#buttons {
    display: flex;
}

#buttons-user,
#buttons-computer {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.player {
    font-size: 24px;
    margin: 24px;
}